@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  @apply antialiased;
}

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: #C43E36;
  color: #F0EAD6;
}